body {
        background-color: #B2EBF2;
        background-color: -webkit-linear-gradient(to bottom right, #B2EBF2, #0099FF);
        background-color: linear-gradient(to bottom right, #B2EBF2, #0099FF); 
    }

.opening {
        font-family: 'Alex Brush';
        color: white;
}

.opening h1 {
        text-align: center;
        position: relative;
        padding: 10px 0px 10px 0px;
        font-style: italic;
        font-size: 70px;
    }
    
.opening h2 {
        text-align: center;
        font-style: normal;
        font-size: 30px;
        }

.navbar a {
        display: flex;
        font-family: 'Times New Roman';
        color: white;
        font-size: 20px;       
}

.navbar a:hover {
        color:blue;
}