   <footer class="footer">
        <p class="footer-main">Lisa Marie Crafts 2018</p>
      <nav class="footer-social">
        <p>Follow us</p>
        <a class="links" href="https://www.instagram.com/lisamariecrafts/" target="_blank"> <i class="fab fa-instagram"></i></a>
        <a class="links" href="https://www.facebook.com/lisa.woodbridge.50" target="_blank"> <i class="fab fa-facebook-square"></i></a>
      </nav>
   </footer> 