{% extends "layout.njk" %}

{% block content %}
<title>Contact | Lisa Marie Crafts</title>

{% include "partials/navbar.njk" %}

{% include "partials/header1.njk" %}
          <h3>Get in touch</h3>
{% include "partials/header2.njk" %}

<section class="section-contact-white">
    <div class="section-container">
        <p>If you'd like to order a gift for a loved one, please send an enquiry to lisa.cm.woodbridge@gmail.com with the following details:</p>
    <div class="section-contact-columns">
      <li>Your name:</li>
      <li>Your contact number:</li>
      <li>The occasion (e.g. Mother's Day):</li>
      <li>The name of the person you're gifting:</li>
      <li>Description of the gift you have in mind:</li>
      <li>Your budget range:</li>
    </div>    
        <p>If you'd like to get in touch with any other enquiries, please email lisa.cm.woodbridge@gmail.com</p>
    </div>
</section>
    
{% include "partials/footer.njk" %}
{% endblock %}