@import url('https://fonts.googleapis.com/css?family=Edwardian Script ITC|Heebo');
@import '../node_modules/foundation-sites/scss/foundation.scss';
@include foundation-everything;

//Colour scheme//
$primarycolor: #0054a6;
$secondarycolor: white;
$thirdcolor: #59c8f1;
$hovercolor: grey;

//Text//
$bodyfont: 'Heebo';
$headfont: 'Edwardian Script ITC';
$headsize: 80px;
$subheadsize: 60px;
$secheadsize: 45px;
$secsubheadsize: 25px;
$bodysize: 13px;
$zoomsize: 120%;
$shadowdefault: 2px 2px 2px grey;

//Mobile Text//
$mobheadsize: 50px;
$mobsubheadsize: 30px;
$mobsecheadsize: 25px;
$mobsecsubheadsize: 15px;

//Spacing//
$smallpadding: 10px;
$mediumpadding: 20px;
$largepadding: 30px;
$extralargepadding: 50px;
$nospacing: 0px;
$navbarspacing: 30px;
$banner: 300px;

body{
  background-color:$primarycolor;
  width: 100%;
}

h1, h4, p, a, li{
  font-family: $bodyfont;
}

h1 {
  font-size: $secheadsize;
  padding: $mediumpadding;
}

p, li {
  font-size: $bodysize;
  }

.section-container{
  width: 100%;
  max-width: 1800px;
  margin: 0px auto;
  padding: $largepadding;
  height: 100%;
}

.links {
  color: $thirdcolor;
  transition: all .2s ease-in-out;
}

.links:hover {
  color: $thirdcolor;
  font-size: $zoomsize;
}

.navbar {
  background-color:$secondarycolor;
  height: 70px;
}

.logo {
  width: 130px;
  height: 65px;
}

.navlinks {
  word-spacing: $navbarspacing;
  color: $thirdcolor;
  float: right;
  padding: $mediumpadding;
}

.navlinks a {
  color: $thirdcolor;
  transition: all .2s ease-in-out;
}

.navlinks a:hover{
  color: $thirdcolor;
  font-size: $zoomsize;
  }

.header {
  height: $banner;  
  font-weight: normal;
  background-image: url(../pictures/Heading-banner-v2.png);
  background-size: cover;
  resize: both;
}

.header h1 {
  font-size: $headsize;
  color: $secondarycolor;
  font-family: $headfont;
  text-align: center;
  text-shadow: $shadowdefault;
  margin-bottom: 0;
  padding: 0px;
  }

  
.header h3 {
  font-size: $subheadsize;
  color: $primarycolor;
  font-family: $headfont;
  text-shadow: $shadowdefault;
  text-align: center;
  line-height: 0;
  padding-top: $smallpadding;
}

.header-container { 
  width: 100%;
  max-width: 1800px;
  margin: 0px auto;
  padding-top: 130px;
}

.header img {
  width: 99%;
  position: absolute;
  z-index: -1;
  background: $thirdcolor; //fallback//
}

.section-features-blue {
  background-color: $primarycolor;
  color: $secondarycolor;
  text-align: center;
  padding: $largepadding;
}

.section-features-blue h4 {
    font-size: $secsubheadsize;
    padding: $mediumpadding;
}

.section-features-columns {
  display: inline-block;
  width: 200px;
  height: 200px;
  vertical-align: top;
  padding: $largepadding;
  margin: 20px;
}

.section-features-blue i {
  font-size: $secheadsize;
}

.section-features-white {
  padding-bottom: $largepadding;
  background-color: $secondarycolor;
  color: $primarycolor;
}

.section-testimonal-columns {
  display: inline-block;
  vertical-align: top;
  width: 550px;
  padding: 0px $mediumpadding 0px $mediumpadding;
}

.featured-testimonials-section {
  background-color: $secondarycolor;
  padding: $largepadding;
  text-align: center;
  color: $primarycolor;

  .featured-testimonials-container {
    .orbit-previous {
      color: $primarycolor;
      left: -1rem;
    }

    .orbit-next {
      color: $primarycolor;
      right: -1rem;
    }
}

  .testimonial {
    display: flex;
    align-items: center;
    margin: 0rem 1rem;
  }

  .profile-pic {
    max-width: 100px;
    border-radius: 50%;
  }

  .featured-testimonials-quotation {
    margin-left: 2rem;
    margin-bottom: 0rem;
    padding: 1.5rem;
    position: relative;
    color: $primarycolor;

    &::before {
      content: "“";
      font-size: 5rem;
      color: lighten($black, 80%);
      position: absolute;
      top: -1.0rem;
      left: -1.0rem;
    }

    &::after {
      content: "”";
      font-size: 5rem;
      color: lighten($black, 80%);
      position: absolute;
      bottom: -4rem;
      right: -.5rem;
    }
  }

  .featured-testimonials-quotation-owner {
    padding-bottom: $mediumpadding;
    text-align: right;
    margin: 0rem 2rem;
    }
}

.section-about-blue {
  background-color: $primarycolor;
  color: $secondarycolor;
  padding: $largepadding;
}

.section-about-blue h1 {
  margin-bottom: 0px;
}

.section-about-blue p {
  margin-bottom: 0px;
  padding-top: $mediumpadding;
}

.section-about-white {
  background-color: $secondarycolor;
  color: $primarycolor;
  padding: $largepadding;
}

.section-about-white h1 {
  margin-bottom: 0px;
}

.section-about-white p {
  margin-bottom: 0px;
  padding-top: $mediumpadding;
}

.section-about-column-small {
  display: inline-block;
  height: 100%;
  width: 20%;
  vertical-align: top;
}

.section-about-column-large {
  display: inline-block;
  padding-left: $largepadding;
  height: 100%;
  width: 100%;
  max-width: 79%;
}

.about-photo {
  max-width: 100%;
  max-height: 100%;
  vertical-align: text-top;
}

.section-gallery-blue {
  background-color: $primarycolor;
  color: $secondarycolor;
  text-align: center;
  padding: $largepadding;
}

.section-gallery-white {
  background-color: $secondarycolor;
  color: $primarycolor;
  padding: $largepadding;
  text-align: center;
}

.section-gallery-columns {
  display: inline-block;
  width: 240px;
  height: 350px;
  vertical-align: top;
  padding: $mediumpadding;
  margin: 10px;
  background-color: $secondarycolor;
  color: $primarycolor;
  font-size: $bodysize;
}

.section-gallery-columns p {
 padding-top: $mediumpadding;
}

.section-gallery-photos {
  width: 200px;
  height: 200px;
  position: center;
}

.section-gallery-photos img{
  object-fit: cover;
}
.section-gallery-photos img:hover {
  opacity: 0.1;
  transition: all .8s ease-in-out;
}

.section-gallery-photos:hover {
 background-color: $thirdcolor;
 background-image: url(https://instagram-brand.com/wp-content/uploads/2016/11/app-icon2.png);
 background-size: 60%;
 background-repeat: no-repeat;
 background-position: center;
 }

 .section-contact-white {
  background-color: $secondarycolor;
  color: $primarycolor;
  padding: $largepadding;
  text-align: center;
}

.section-contact-white p {
  font-size: $bodysize;
  margin-bottom: 0px;
}

  .section-contact-columns {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    padding: $largepadding 0px $largepadding 0px;
    font-size: $bodysize;
    text-align: left;
  }

.footer {
  background-color: $primarycolor;
  width: 100%;
  max-width: 1800px;
  font-size: $bodysize;
  color: $secondarycolor;
  padding-top: $smallpadding;
  bottom: 0; 
  text-align: center;
}

.footer-main {
  display: inline-block;
} 

.footer-social {
  float: right;
  }

.footer-social p {
  display: inline-block;
  bottom: 0;
  padding-right: $smallpadding;
}

.footer i {
  padding-right: $smallpadding;
}

//Breakpoints

@media only screen and (max-width: 1000px) {

  h1 {
    padding: 0px;
    font-size: $mobsubheadsize;
  }

  .header h3 {
    font-size: $mobheadsize;
  }

  .section-about-blue {
    padding: 0px;
  }
}

@media only screen and (max-width: 800px) {
  
  .header h3 {
    font-size: $secheadsize;
  }

  //.about-photo {
  //  display:none;
  //}
}

@media only screen and (max-width: 700px) {

  .header h3 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 650px) {
  
  h1 {
    font-size: $mobsecheadsize;
    padding: $smallpadding;
  }

  .header h1 {
    font-size: $subheadsize;
  }

  .header h3 {
    line-height: 1;
  }

  .section-container {
    padding: 0px;
  }

  .section-testimonal-columns {
    width: 100%;
  }

  .section-features-columns {
    padding: 0px;
    margin: 0px;
  }

  .featured-testimonials-section .testimonial {
    margin: 0rem;
  }

}

//Mobile
@media only screen and (max-width: 480px) {

  .header h1 {
    font-size: $mobheadsize;
  }

  .header h3 {
    font-size: $mobsubheadsize;
    line-height: 1;
  }

  .navbar {
    height: 50px;
  }
  
  .logo {
    width: 90px;
    height: 45px;
  }

  .navlinks {
    padding: $smallpadding;
    font-size: $bodysize;
    }

  .section-features-blue {
    padding: $mediumpadding;
  }

  .section-features-blue h1 {
    font-size: $mobsecheadsize;
    padding: 0px;
  }

  .section-features-blue h4 {
    font-size: $mobsecsubheadsize;
    padding: 0px;
  }

  .section-features-columns {
    height: 150px;
  }

  .section-features-white h1 {
    font-size: $mobsecheadsize;
    padding: 0px;
  }

}

@media only screen and (max-device-width: 400px) {
  .featured-testimonials-section .featured-testimonials-quotation {
    margin-left: 0rem;
  }
}
/*# sourceMappingURL=test.css.map */